<% showNavbar = false %>
<%- include('layouts/header') %>

<main class="text-center mt-5">
    <h2>UR Lost & Found Login</h2>

    <section>
        <% if (typeof error !== "undefined" && error) { %>
            <p class="text-danger">
                <%= error %>
            </p>
        <% } %>

        <div class="box">
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <div class="mb-2">
                    <input type="text" id="username" name="username" placeholder="Username"
                        value="<%= typeof username !== 'undefined' ? username : '' %>" required />
                </div>

                <label for="password">Password</label>
                <div class="mb-2">
                    <input type="password" id="password" name="password" placeholder="Password" required />      
                </div>

                <p>* Indicates required fields</p>

                <div>
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
            </form>
        </div>
    </section>
</main>

<%- include('layouts/footer') %>