<nav class="navbar" data-bs-theme="dark" style="background-color: #00502E; padding-top: 10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Home">
            <img src="../public/images/UR_Logo_Primary_Reverse_White.png" alt="UofR logo white" width="auto" height="50px">
        </a>
        <button class="navbar-toggler" style="padding: 10px 10px 15px 10px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <img src="../public/svg/sidemenu.svg">
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <hr>
                <a class="nav-link" href="/NewItem" style="text-indent: 50px;">Add Item to Inventory</a>
                <a class="nav-link" href="/ViewInventory" style="text-indent: 50px;">View Inventory</a>
                <hr>
                <a class="nav-link" href="/NewReport" style="text-indent: 50px;">Report Lost Item</a>
                <a class="nav-link" href="/ViewReports" style="text-indent: 50px;">View Reports</a>
            </div>
        </div>
    </div>
</nav>